<%= form_with model: @comment, url: user_instapost_comments_path(@user, @instapost), local: true do |f| %>
  
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :instapost_id, @instapost.id %>

  <div class="form-group">
    <%= f.label :caption %><br />
    <%= f.text_area :caption, size: "2x5", class: "form-control" %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
