<% provide :title, @user.username %>

<h1><%= @user.username %></h1>
<%= link_to controller: 'users', action: 'followers', id: @user do %>
  <span class="badge" id="followers"><%= @user.followers.size %> followers</span>
<% end %>
<%= link_to controller: 'users', action: 'following', id: @user do %>
  <span class="badge"><%= @user.following.size %> following</span>
<% end %>
<br>
<br>
<%= render 'follow_form' if user_signed_in? %>
<br>
<%= link_to 'Instaposts', user_instaposts_path(@user), class: 'btn btn-primary' %>
<br>
<br>
<div>Feed:</div>
<%= will_paginate @instaposts %>
<ul class="list-group">
  <% @instaposts.each do |instapost| %>  
  <li class="list-group-item">
    <%= render instapost %>
  </li>
  <% end %>
</ul>
