<%= form_with model: @instapost, url: user_instaposts_path(@user), local: true do |f| %>
  <%= render "error_messages" unless @instapost.errors.blank? %>

  <div class="form-group">
    <%= f.label :caption %><br />
    <%= f.text_field :caption, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :image, value: @instapost.cached_image_data %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit "Submit!", class: "form-control btn btn-primary" %>
<% end %>
