<div><%= link_to image_tag(instapost.image_url), user_instapost_path(instapost.user, instapost) %></div>
<div class="lead"><%= instapost.caption %></div>
<div class="small">Posted <%= time_ago_in_words(instapost.created_at) %> ago</div>
<div id="likes">Likes: <%= instapost.likes.size %></div>
<div id="comments">Comments: <%= instapost.comments.size %></div>
